@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

.menu{
    background-color: #54CFAA;
    display: flex;
    flex-direction: row;
    height: 7vh;
    width: 100vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu h1{
    font-size: 3rem;
    display: flex;
    padding: 5px 50px;
    font-family: 'Roboto', sans-serif;
    color: white;
}