<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/css/funcionarios.css">
    <link rel="icon" href="/web/assets/favicon-32x32.png">
    <title>Funcionários</title>
</head>
<body>
    
    <header>
        <div class="funcionarios-header">
            <h1>Funcionários</h1>
            <a href="/web/components/menu.html"><button class="menu"><i class="fas fa-bars"></i></button></a>
        </div>
    </header>
    <main>
        <div class="funcionarios-main">

            <div class="funcionarios-nome">
                <h1>Nome</h1>
            </div>
            <div class="funcionarios-login">
                <h1>Login</h1>
            </div>
            <div class="funcionarios-senha">
                <h1>Senha</h1>
            </div>  
            <div class="funcionarios-funçao">
                <h1>Função</h1>            
            </div>
            <div id=func-tabela-get>

            </div>
            
            <div id=funcionarios-get>      
            </div>
            <div class="coluna1">
                <Header>1</Header>
            </div>
            <div class="coluna2">
                <Header>2</Header>
            </div>
            <div class="coluna3">
                <Header>3</Header>
            </div>
            <div class="coluna4">
                <Header>4</Header>
            </div>
        </div>

    </main>
    <script src="https://kit.fontawesome.com/6b77beae8e.js" crossorigin="anonymous"></script>
</body>
</html>