<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/css/venda.css">
    <link rel="icon" href="/web/assets/favicon-32x32.png">
    <title>Venda</title>
</head>
<body>
    <header>
        <div class="venda-header">
            <h1>Venda</h1>
            <a href="/web/components/menu.html"><button class="menu"><i class="fas fa-bars"></i></button></a>
        </div>
    </header>
    <main>
        <div class="venda-main">

        </div>
    </main>
    <script src="https://kit.fontawesome.com/6b77beae8e.js" crossorigin="anonymous"></script>
</body>
</html>