<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/css/venda.css">
    <link rel="icon" href="/web/assets/favicon-32x32.png">
    <title>Venda</title>
</head>
<body>
    <header>
        <div class="venda-header">
            <h1>Venda</h1>
            <a href="/web/components/menu.html"><button class="menu"><i class="fas fa-bars"></i></button></a>
        </div>
    </header>
    <main>
        <div class="venda-main">
            <div class="venda-pesquisa">
                <input type="text" name="pesquisa" id="search" placeholder="Digite o item p/ incluir" list= "busca" required>
                <button class="butao-pesquisa"><i class="fas fa-search"></i></button>
                <datalist id="busca">
                    <option value="a"></option>
                    <option value="b"></option>
                    <option value="C"></option>
                    <option value="d"></option>
                    <option value="e"></option>
                    <option value="F"></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                    <option value="6"></option>
                    <option value="7"></option>
                    <option value="8"></option>
                    <option value="9"></option>
                    <option value="Tiago G"></option>
                    <option value="Tiago M"></option>
                </datalist>
            </div>
            <div class="venda-total">

            </div>
            <div class="venda-tabela">
                    <table>
                        <tr>
                            <th>Código</th>
                            <th>Descrição</th>
                            <th>Quantidade</th>
                            <th>Preço</th>
                        </tr>
                        <tr>
                            <td>1234567890123</td>
                            <td>Jordan</td>
                            <td>1</td>
                            <td>399.99</td>
                        </tr>
                        <tr>
                            <td>1234567890123</td>
                            <td>Jordan</td>
                            <td>1</td>
                            <td>399.99</td>
                        </tr>
                        <tr>
                            <td>1234567890123</td>
                            <td>Jordan</td>
                            <td>1</td>
                            <td>399.99</td>
                        </tr>
                        <tr>
                            <td>1234567890123</td>
                            <td>Jordan</td>
                            <td>1</td>
                            <td>399.99</td>
                        </tr>
                        <tr>
                            <td>1234567890123</td>
                            <td>Jordan</td>
                            <td>1</td>
                            <td>399.99</td>
                        </tr>
                        <tr>
                            <td>1234567890123</td>
                            <td>Jordan</td>
                            <td>1</td>
                            <td>399.99</td>
                        </tr>
                        <tr>
                            <td>1234567890123</td>
                            <td>Jordan</td>
                            <td>1</td>
                            <td>399.99</td>
                        </tr>
                        <tr>
                            <td>1234567890123</td>
                            <td>Jordan</td>
                            <td>1</td>
                            <td>399.99</td>
                        </tr>
                        <tr>
                            <td>1234567890123</td>
                            <td>Jordan</td>
                            <td>1</td>
                            <td>399.99</td>
                        </tr>
                      </table>
            </div>
            <div class="venda-butoes-cpf">
                <div class="venda-cpf">
                    <!–informar se o cpf não estiver cadastrado ->
                    <input type="text" name="cpf" id="cpf" placeholder="CPF: " required> 
                </div>
                <div class="venda-butoes">
                    <div class="venda-remover">
                        <!- muda para tela de cancelamento para remover item da compra com a senha do gerente ->
                        <a href="/web/components/cancelamento.html"><button>Remover Item</button></a>
                    </div>
                    <div class="venda-cancel">
                        <!- cancelar a compra inteira ->
                        <button>Cancelar</button>
                    </div>
                    <div class="venda-finalizar">
                        <!- imprimir em pdf nota fiscal quando finalizar a compra ->
                        <button>Finalizar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/02f026d5ac.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6b77beae8e.js" crossorigin="anonymous"></script>
</body>
</html>