@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

.venda-header{
    background-color: #54CFAA;
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 100vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.venda-header h1{
    font-size: 3.5rem;
    display: flex;
    padding: 5px 50px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.venda-header button{
    background-color: #33B78F;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}
.menu{
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
}
.fa-bars{
    color: #A9E7D5;
    font-size: 2.6rem;
}
.venda-header button:hover{
    background-color: #54CFAA;
}
.venda-main{
    background-color: #A9E7D5;
    display: flex;
    width: 100vw;
    height: 92vh;
    flex-wrap: wrap;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    --scrollbarBG: #54CFAA;
    --thumbBG: #33B78F;
}
.venda-table{
    display: flex;
    width: 100vw;
    height: 72vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    --scrollbarBG: #54CFAA;
    --thumbBG: #33B78F;
}
.venda-table::-webkit-scrollbar {
    width: 11px;
}
.venda-table::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
.venda-table::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}
table{
    border-spacing: 0px;
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif; 
}

.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid #dee2e6;
}

.table td > a.btn{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
}

.table tr:hover{
    background-color: #06d6a0;
}

.table tr:hover td > a{
    box-shadow: none;
}

.table .thead-dark th{
    color: #fff;
    background-color: #2b2d42;
    border-color: #32383e;
}
.venda-qtd{
    background-color:transparent;
    font-size: 1.5rem;
    width: 3rem;
    height: 2rem;
    border-style: none;
    cursor: pointer;
    outline: none;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.venda-qtd input::-webkit-inner-spin-button {
    -webkit-appearance:button;
    margin: 0;
  }
.venda-butoes-cpf{
    background-color: #54CFAA;
    display: flex;
    width: 95vw;
    height: 15vh;
    margin: 10px auto 10px auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.venda-cpf{
    display: flex;
    padding: 3rem;
}
.venda-cpf input{
    width: 12vw;
    height: 5vh;
    outline: none;
    border-style: none;
    font-size: 1.5rem;
}
.venda-butoes{
    display: flex;
    flex-wrap: nowrap;
    margin: auto 0 auto auto;
}
.venda-butoes button{
    margin-right: 5rem;
    background-color:#33B78F;
    width: 8vw;
    height: 8vh;
    font-size: 1.5rem;
    border-style: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
.venda-butoes button:hover{
    background-color: #54CFAA;
}