@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

.venda-header{
    background-color: #54CFAA;
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 100vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.venda-header h1{
    font-size: 3.5rem;
    display: flex;
    padding: 5px 50px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.venda-header button{
    background-color: #33B78F;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}
.menu{
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
}
.fa-bars{
    color: #A9E7D5;
    font-size: 2.6rem;
}
.venda-main{
    background-color: #A9E7D5;
    display: flex;
    width: 100vw;
    height: 92vh;
    flex-wrap: wrap;
}
.venda-pesquisa{
    background-color: white;
    width: 35vw;
    height: 5vh;
    margin: 10px 46px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.venda-pesquisa input{
    border-style: none;
    width: 30vw;
    height: 5vh;
    font-size: 30px;
    outline: none;
    margin-left: 10px;
}
.venda-pesquisa button{
    background-color: #33B78F;
    color: white;
    border-style: none;
    width: 3vw;
    height: 5vh;
    font-size: 30px;
    float: right;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.venda-total{
    background-color: white;
    width: 20vw;
    height: 5vh;
    align-items: right;
    position: absolute;
    margin:10px 0 10px 10px;
    right: 46px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.venda-tabela{
    background-color: #33B78F;
    display: flex;
    width: 95vw;
    height: 60vh;
    margin: 0 auto 30px auto;
    padding-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    --scrollbarBG: #54CFAA;
    --thumbBG: #33B78F;
}
.venda-tabela th{
    padding-right: 16rem;
    border-style: solid;
    font-size: 3rem;

    position: sticky;
    top: 0;
}
.venda-tabela td{
    font-size: 2rem;
    padding-bottom: 2rem;
}
.venda-tabela::-webkit-scrollbar {
    width: 11px;
}
.venda-tabela::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
.venda-tabela::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}
.venda-butoes-cpf{
    background-color: #33B78F;
    display: flex;
    width: 95vw;
    height: 15vh;
    margin: 10px auto 10px auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.venda-cpf{
    display: flex;
    padding: 3rem;
}
.venda-cpf input{
    width: 12vw;
    height: 5vh;
    outline: none;
    border-style: none;
    font-size: 1.5rem;
}
.venda-butoes{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 3rem;
    margin-left: 15rem;
}
.venda-butoes button{
    margin-right: 5rem;
    width: 10vw;
    height: 5vh;
    margin-left: 10rem;
    font-size: 1.5rem;
    border-style: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.venda-remover button{
    background-color: #FF4747;
}
.venda-cancel button{
    background-color: #C7D70F;
}
.venda-finalizar button{
    background-color: #28CD0D;
}