<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/css/addprod.css">
    <title>Adicionar Gerente</title>
</head>
<body>
    <header>
        <div class="menu-header">
            <h1>Adicionar Gerente</h1>
            <a href="/gerentes"><button><i class="fas fa-long-arrow-alt-left"></i></button></a>
        </div>
    </header>
    <form action="/salvargerente" method="POST" id="add_est">
        <div class="new_est">
            <div class="form-group">
                <label class="text-light">Nome</label>
                <input type="text" name="nome" required value="" placeholder="">
            </div>
            <div class="form-group">
             <label class="text-light">Usuário</label>
             <input type="text" name="login" required value="" placeholder="">
         </div>
         <div class="form-group">
             <label class="text-light">Senha</label>
             <input type="text" name="senha" required value="" placeholder="">
         </div>
         <div class="form-group">
             <button type="submit" class="btn text-dark update">Salvar</button>
         </div>
         
        </div>
     </form>

    <script src="https://kit.fontawesome.com/6b77beae8e.js" crossorigin="anonymous"></script>
</body>
</html>