<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/css/clientes.css">
    <link rel="icon" href="/web/assets/favicon-32x32.png">
    <title>Clientes</title>
</head>
<body>
    <header>
        <div class="clientes-header">
            <h1>Clientes</h1>
            <a href="/web/components/menu.html"><button class="menu"><i class="fas fa-bars"></i></button></a>
        </div>
    </header>
    <main>
        <form action="/salvarcliente" method="post">
        <input type="text" name="nome" placeholder="nome" required>
        <input type="text" name="telefone" placeholder="telefone" required>
        <input type="text" name="cpf" placeholder="cpf" required>
        <input type="text" name="pontos" placeholder="pontos" required>
        <div class='botao'><button type="submit">Salvar</button></div>
        </form>
        <div class="clientes-main">
        </div>
    </main>
    <script src="https://kit.fontawesome.com/6b77beae8e.js" crossorigin="anonymous"></script>
</body>
</html>