<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/css/estoque.css">
    <link rel="icon" href="/web/assets/favicon-32x32.png">
    <title>Estoque</title>
</head>
<body>
    <header>
        <div class="estoque-header">
            <h1>Estoque</h1>
            <a href="/web/components/menu.html"><button class="menu"><i class="fas fa-bars"></i></button></a>
        </div>
    </header>
    <main>
        <div class="estoque-main">
          <div class="estoque">
              <% estoque.forEach(produto =>{ %>
                <p><%= produto.nome %></p>
              <%  }) %>
          </div>
        <form action="/salvarestoque" method="post">
            <input type="text" name="nome" placeholder="nome" required>
            <input type="text" name="preco" placeholder="preco" required>
            <input type="text" name="quantidade" placeholder="quantidade" required>
            <input type="text" name="codigo" placeholder="codigo" required>
            <div class='botao'><button type="submit">Salvar</button></div>
            </form>  
        </div>
    </main>
    <script src="https://kit.fontawesome.com/6b77beae8e.js" crossorigin="anonymous"></script>
</body>
</html>