<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/css/funcionarios.css">
    <link rel="icon" href="/web/assets/favicon-32x32.png">
    <title>Funcionários</title>
</head>
<body>
    
    <header>
        <div class="funcionarios-header">
            <h1>Funcionários</h1>
            <a href="/web/components/menu.html"><button class="menu"><i class="fas fa-bars"></i></button></a>
        </div>
    </header>
    <main>
        <div class="funcionarios-tabela">
            <div class="funcionarios-tabela-header">
            <div>
                <div>
                    <h1>Nome</h1>
                </div>
                <div>
                    <h1>Login</h1>
                </div>
                <div>
                    <h1>Senha</h1>
                </div>
                <div>
                    <h1>Função</h1>
                </div>
            </div>
            </div>
            <div class="funcionarios-tabela-main">
                <table>
                    <tbody>
                        <tr>
                            <td>001</td>
                            <td>João Oliveira</td>
                            <td>gerenJO</td>
                            <td>123456</td>
                        </tr>
                        <tr>
                        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div class="funcionario-botao-nome">
                <div class="funcionario-nome">
                    <h1>Nome:</h1>
                    <input type="text" name="Nome" id="nome-func" placeholder="Nome: " required>
                </div>
                <div class="funcionario-login">
                    <h1>Login:</h1>
                    <input type="text" name="Login" id="login-func" placeholder="Login: " required>
                    
                </div>
                <div class="funcionario-senha">
                    <h1>Senha:</h1>
                    <input type="text" name="Senha" id="senha-func" placeholder="Senha: " required>
                    
                </div>
                <div class="func-botoes">
                    <div>
                        <button>Adicionar</button>
                    </div>
                    <div>
                        <button>Atualizar</button>
                    </div>
                    <div>
                        <button>Deletar</button>
                    </div>
                </div>

        </div>
    </main>
    <script src="https://kit.fontawesome.com/6b77beae8e.js" crossorigin="anonymous"></script>
</body>
</html>