<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/css/menu.css">
    <link rel="icon" href="/web/assets/favicon-32x32.png">
    <title>Menu</title>
</head>
<body>
    <header>
        <div class="menu-header">
            <h1>Menu</h1>
            <a href="/"><button class="logoff" type="button"><i class="fas fa-power-off"></i></button></a>
        </div>
    </header>
    <main>
        <div class="menu-main">
            <div class="menu-venda">
                <a href="/venda"><button>Venda</button></a>
            </div>
            <div class="menu-estoque">
                <a href="/estoque"><button>Estoque</button></a>
            </div>
            <div class="menu-funcionarios">
                <a href="/funcionarios"><button>Funcionários</button></a>
            </div>
            <div class="menu-clientes">
                <a href="/clientes"><button>Clientes</button></a>
            </div>
            <div class="menu-gerentes">
                <a href="/gerentes"><button>Gerentes</button></a>
            </div>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/bd138c3956.js" crossorigin="anonymous"></script>
</body>
</html>