<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/css/venda.css">
    <link rel="icon" href="/web/assets/favicon-32x32.png">
    <title>Venda</title>
</head>
<body>
    <header>
        <div class="venda-header">
            <h1>Venda</h1>
            <a href="/menufunc"><button class="menu"><i class="fas fa-bars"></i></button></a>
        </div>
    </header>
    <main>
        <div class="venda-main">
            <div class="venda-table-carrinho">
                <div class="venda-table">
                    <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Código</th>
                                    <th>Produto</th>
                                    <th>Quantidade</th>
                                    <th>Preço</th>
                                    <th>Selecionar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% estoque.forEach(produto =>{ %>
                                    <tr>
                                        <td><%= produto.codigo_produto %></td>
                                        <td><%= produto.nome_produto %></td>
                                        <td><input class="venda-qtd" type="number" value="1"></td> <!-- quantidade selecionavel-->
                                        <td><%= produto.preco_produto + " R$"%></td>
                                        <td></td> <!-- botao de selecionar-->
                                    </tr>
                                <%  }) %>
                            </tbody>
                    </table>
            </div>
                <div class="venda-carrinho">
                <h1><i class="fas fa-shopping-cart"></i>Carrinho</h1>
                </div>
            </div>
            <div class="venda-butoes-cpf">
                <div class="venda-cpf">
                    <!--informar se o cpf não estiver cadastrado-->
                    <input type="text" name="cpf" id="cpf" placeholder="CPF: " required> 
                </div>
                <div class="venda-butoes">
                    <div class="venda-cancel">
                        <a href="/venda"><button>Cancelar</button></a>
                    </div>
                    <div class="venda-finalizar">
                        <!-- imprimir em pdf nota fiscal quando finalizar a compra -->
                        <button>Finalizar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/02f026d5ac.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6b77beae8e.js" crossorigin="anonymous"></script>
</body>
</html>